/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #000000;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
}

.content {
    flex: 3;
}

.sidebar {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    padding: 15px;
    border-left: 3px solid #4CAF50;
}

.sidebar img {
  max-width: 100%;
  height: auto;
}

table {
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px auto;
}

th,
td {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffffff;
}

td {
    background-color: #ffffff;
}


footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
